# Analysis of UK-based Registered E-Commerce Online Retail

## Data-set analysis between 01/12/2010 and 09/12/2011

## Group Number: 4

# Team members: 
### Nora Amirah Abdul Mutalib 
### Choon Hoe Lim 
### Kaviel Teo Zhi Xiong

### INTRODUCTION


*Introductory commentary in a few paragraphs*

*To make your project more interesting, you can introduce a story/context/backdrop as to why you're doing this analysis*

### CONTENTS

<font color="grey">*Reminder: Contents don't have to be in this order or follow these exact headings.  
Present yours in a way that makes sense for your analyses and workflow*</font>

Section 1: Data Preparation 

Section 2: Data Exploration

Section 3: Data Augmentation

Section 4: Hypotheses

Section 5: Conclusion

---


#### <u>Section 1: Data Preparation</u>

*Description of thought process, steps taken and workflow, etc*

1. Import libraries
2. etc

In [8]:
from chardet.universaldetector import UniversalDetector
import chardet

# look at the first ten thousand bytes to guess the character encoding
with open("ecommerce.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(300000))

# check what the character encoding might be
print(result)

In [13]:
# module imports

import numpy as np
import pandas as pd
import seaborn as sns

*You can intersperse markdown cells between your code cells for commentary.*

In [14]:
# Remember you can also use comments for more technical comments on the code
ecommerce = pd.read_csv("ecommerce.csv", encoding = "latin1") # File is encoded in latin1

In [15]:
ecommerce_copy = ecommerce.copy()

In [17]:
ecommerce_copy.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [18]:
ecommerce_copy.shape

(541909, 8)

In [22]:
# select rows with certain stock code
# col.isin(list of values)
ecommerce_copy[ecommerce_copy.StockCode.isin(["85123A","84406B"])]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:02,2.55,17850.0,United Kingdom
51,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 9:02,2.75,17850.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:32,2.55,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
539342,581439,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,12/8/2011 16:30,5.79,NaN,United Kingdom
539979,581452,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/8/2011 18:03,2.55,17675.0,United Kingdom
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/8/2011 19:55,2.95,15796.0,United Kingdom
540837,581492,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3,12/9/2011 10:03,5.79,NaN,United Kingdom
541639,581538,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,12/9/2011 11:34,2.95,14446.0,United Kingdom

In [23]:
# one value at at a time with logical or '|''

***Subheadings as desired***

*More write-up*

**Conclusions**

*Text here*

*Inserting an image (web URL or local file path):*
![Image description](https://picsum.photos/120)

---

#### <u>Section 4: Hypotheses</u>

1. Hypothesis 1 - 
2. Hypothesis 2 - 
3. Hypothesis 3 -

***Hypothesis 1 - ***

*Describe motivation for hypothesis, how plot aims to support or defeat hypothesis*

---

#### <u>Section 5: Conclusion</u>

*Overall summary of your work, any final conclusions or recommendations, suggested future work, etc*

---

In [ ]:
# select rows with certain stock code
# col.isin(list of values)
data[data.StockCode.isin(['85123A','84406B'])]

In [ ]:
# select all rows except the rows with certain stock code
# ~col.isin(list of values)  , i.e. not isin
data[~data.StockCode.isin(['85123A','84406B'])]

In [ ]:
data = pd.read_csv("dc_crime_add_vars.csv", encoding = 'latin1', index_col=0)

# index_col=0 will use 1st column as row index, instead of using 1st col as a col

In [ ]:
data = data.set_index("X")
# uses the col XYZ as row index, so 1 column less than original

In [ ]:
import json
f = open('GB_category_id.json','r')
d = json.load(f)
d

In [ ]:
# build a new dictionary
GB_cat_map = {}
for each in d['items']:
#     print(each, each['id'], each["snippet"]["title"])
    GB_cat_map[int(each['id'])] = each["snippet"]["title"]
GB_cat_map

In [ ]:
data['category'] = data.category_id.map(GB_cat_map)